/* Variables */

:root{
    --color-red: #fe1936;
    --color-btn: #d93f3f;
}

/* Reset */
*{
    box-sizing: border-box;
}

body{
    border: 0;
}

img{
    width: 100%;
    display: block;
}

a {
    font-family: inherit;
}

input {
    outline: none;
}